body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./images/IMG_2202.JPG'); /* Caminho relativo à /public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
p, label, .col, div {
  user-select: none;  /* Impede a seleção de texto */
  cursor: default;  /* Define um cursor padrão */
}